In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori 
from mlxtend.frequent_patterns import association_rules

In [3]:
df=pd.read_csv("C:/Users/admin/Desktop/sem 2/SEM 2 PYTHON/Uber_Supply_Demand_Gap.csv")

In [6]:
df.describe()

        Request id    Driver id
count  6745.000000  4095.000000
mean   3384.644922   149.501343
std    1955.099667    86.051994
min       1.000000     1.000000
25%    1691.000000    75.000000
50%    3387.000000   149.000000
75%    5080.000000   224.000000
max    6766.000000   300.000000

In [7]:
df[:22]

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,1,Airport,285.0,Trip Completed,11-07-16 0:20,11-07-16 0:51
1,2,Airport,NaN,No Cars Available,11-07-16 0:23,NaN
2,3,Airport,80.0,Trip Completed,11-07-16 0:24,11-07-16 1:31
3,4,City,NaN,No Cars Available,11-07-16 0:37,NaN
4,5,Airport,264.0,Trip Completed,11-07-16 0:36,11-07-16 1:35
5,6,City,NaN,No Cars Available,11-07-16 0:36,NaN
6,7,Airport,NaN,No Cars Available,11-07-16 0:30,NaN
7,8,City,NaN,No Cars Available,11-07-16 0:40,NaN
8,9,Airport,235.0,Trip Completed,11-07-16 0:45,11-07-16 2:00
9,10,City,228.0,Trip Completed,11-07-16 0:54,11-07-16 1:59
10,11,City,198.0,Trip Completed,11-07-16 1:00,11-07-16 1:53
11,12,City,NaN,No Cars Available,11-07-16 1:08,NaN
12,13,City,119.0,Trip Completed,11-07-16 1:08,11-07-16 1:58
13,14,Airport,NaN,No Cars Available,11-07-16 1:10,NaN
14,15,City,NaN,No Cars Available,11-07-16 1:15,NaN
15,16,Airport,NaN,No Cars Available,11-07-16 1:09,NaN
16,17,Airport,NaN,No Cars Available,11-07-16 1:16,NaN
17,5202,Airport,1.0,Cancelled,14-07-16 20:51,NaN
18,19,City,NaN,No Cars Available,11-07-16 1:14,NaN
19,20,Airport,NaN,No Cars Available,11-07-16 1:23,NaN
20,21,Airport,194.0,Trip Completed,11-07-16 1:29,11-07-16 2:05
21,22,Airport,NaN,No Cars Available,11-07-16 1:40,NaN

In [8]:
df.shape

(6745, 6)

In [9]:
df1=df.dropna(axis=0, subset=['Driver id'], inplace=True)
df.shape

(4095, 6)

In [10]:
df[:10]

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,1,Airport,285.0,Trip Completed,11-07-16 0:20,11-07-16 0:51
2,3,Airport,80.0,Trip Completed,11-07-16 0:24,11-07-16 1:31
4,5,Airport,264.0,Trip Completed,11-07-16 0:36,11-07-16 1:35
8,9,Airport,235.0,Trip Completed,11-07-16 0:45,11-07-16 2:00
9,10,City,228.0,Trip Completed,11-07-16 0:54,11-07-16 1:59
10,11,City,198.0,Trip Completed,11-07-16 1:00,11-07-16 1:53
12,13,City,119.0,Trip Completed,11-07-16 1:08,11-07-16 1:58
17,5202,Airport,1.0,Cancelled,14-07-16 20:51,NaN
20,21,Airport,194.0,Trip Completed,11-07-16 1:29,11-07-16 2:05
29,30,Airport,297.0,Trip Completed,11-07-16 2:04,11-07-16 2:37

In [11]:
df['Status']=df['Status'].astype('str')
df = df[~df['Status'].str.contains('Cancelled')]

In [13]:
df[['Pickup point','Status']]

     Pickup point          Status
0         Airport  Trip Completed
2         Airport  Trip Completed
4         Airport  Trip Completed
8         Airport  Trip Completed
9            City  Trip Completed
10           City  Trip Completed
12           City  Trip Completed
20        Airport  Trip Completed
29        Airport  Trip Completed
32        Airport  Trip Completed
33           City  Trip Completed
34           City  Trip Completed
40           City  Trip Completed
44        Airport  Trip Completed
46           City  Trip Completed
47           City  Trip Completed
49           City  Trip Completed
50           City  Trip Completed
52        Airport  Trip Completed
59           City  Trip Completed
63           City  Trip Completed
65           City  Trip Completed
69           City  Trip Completed
73        Airport  Trip Completed
80        Airport  Trip Completed
81        Airport  Trip Completed
83           City  Trip Completed
86           City  Trip Completed
87        Airport  Trip Completed
88           City  Trip Completed
...           ...             ...
6697         City  Trip Completed
6699         City  Trip Completed
6701         City  Trip Completed
6702      Airport  Trip Completed
6704      Airport  Trip Completed
6705      Airport  Trip Completed
6707         City  Trip Completed
6709      Airport  Trip Completed
6711      Airport  Trip Completed
6712      Airport  Trip Completed
6713      Airport  Trip Completed
6714      Airport  Trip Completed
6716      Airport  Trip Completed
6719         City  Trip Completed
6720         City  Trip Completed
6721      Airport  Trip Completed
6725         City  Trip Completed
6726      Airport  Trip Completed
6727      Airport  Trip Completed
6728      Airport  Trip Completed
6733      Airport  Trip Completed
6734         City  Trip Completed
6735      Airport  Trip Completed
6736      Airport  Trip Completed
6738      Airport  Trip Completed
6739      Airport  Trip Completed
6740      Airport  Trip Completed
6741         City  Trip Completed
6742         City  Trip Completed
6744         City  Trip Completed

[2831 rows x 2 columns]

In [49]:
print(df['Driver id'].unique())

[285.  nan  80. 264. 235. 228. 198. 119.   1. 194. 297. 170.  78. 107.
 109.  12. 124. 150. 100.  86.  95. 141.  52. 255. 239.  73. 290.  28.
   2. 213.  76. 280. 126. 234.  69. 265. 270. 138.   3. 256.  99.   4.
  22. 116. 217. 286.  44.   5.  63.   6. 130.  38.  43.   7. 121.  14.
   8. 134. 157.  33. 191.   9. 105. 294.  13.  96. 289.  72. 161.  10.
 199. 184. 113.  59. 188. 112. 225. 252.  15.  37.  16. 202. 249.  27.
 230. 232.  17. 215.  18.  19. 203. 247. 160. 245.  20.  54.  42.  21.
 108. 139. 144.  87. 166.  39.  66. 268.  89. 273. 118.  23.  81. 243.
 261.  24. 219. 131. 196.  74.  82.  25. 231.  26. 206. 233. 276. 221.
 149.  53. 275. 146. 187.  29. 182.  30. 254. 223.  31. 197. 248. 129.
  32.  35. 262.  34. 102. 279.  77. 253. 266.  36. 193. 260. 159. 132.
 201. 274.  62. 284.  84. 174.  40. 148. 156.  41.  48. 142. 162. 155.
 152. 178. 137.  75.  71. 110.  45. 295. 296. 246. 179. 216.  46.  47.
 292. 167. 127. 106.  70. 251.  83. 104.  49.  55. 123.  50. 205. 175.
  51. 271. 195. 135.  97. 183. 212. 277. 204.  64. 200. 281. 269. 272.
 214. 164.  85. 154. 220.  57. 185.  60. 136.  67. 125. 143. 101. 226.
  79. 242. 283. 244.  58. 258. 115. 282. 163.  94. 259. 171. 133. 153.
 111. 172.  56. 165.  65.  88. 263. 173. 169. 180. 151. 192. 287. 177.
  92. 236. 207. 128. 241. 224.  93. 227. 176. 145. 293. 122.  61. 218.
 181.  91. 120. 299. 158. 208. 222. 288. 257. 300. 237. 186.  68. 211.
 114. 240. 238. 210.  90.  98. 278. 168. 298. 250. 147. 103. 229. 140.
 209. 291.  11. 117. 190. 267. 189.]

In [50]:
print(df['Driver id'].value_counts())

27.0     22
22.0     21
70.0     21
84.0     21
176.0    21
177.0    21
69.0     20
24.0     20
142.0    20
197.0    20
114.0    20
107.0    19
78.0     19
54.0     19
212.0    19
16.0     19
9.0      19
126.0    18
37.0     18
204.0    18
98.0     18
230.0    18
125.0    18
225.0    18
109.0    18
233.0    18
274.0    18
80.0     18
105.0    18
184.0    17
         ..
60.0     10
260.0    10
21.0     10
10.0     10
122.0     9
209.0     9
8.0       9
216.0     9
133.0     9
252.0     9
95.0      9
91.0      9
253.0     9
192.0     9
56.0      9
187.0     9
288.0     9
143.0     8
208.0     8
41.0      8
292.0     8
117.0     8
11.0      8
217.0     8
293.0     8
189.0     8
123.0     7
42.0      7
300.0     6
265.0     6
Name: Driver id, Length: 300, dtype: int64

In [47]:
p=df.groupby('Status')['Driver id'].value_counts()
p

#P = data.groupby('class')['preg'].value_counts()

Status          Driver id
Cancelled       84.0         12
                54.0         11
                142.0        10
                206.0        10
                27.0          9
                114.0         9
                138.0         9
                166.0         9
                210.0         9
                267.0         9
                131.0         8
                164.0         8
                177.0         8
                230.0         8
                20.0          7
                44.0          7
                45.0          7
                62.0          7
                63.0          7
                70.0          7
                83.0          7
                99.0          7
                103.0         7
                104.0         7
                129.0         7
                176.0         7
                190.0         7
                197.0         7
                229.0         7
                256.0         7
                             ..
Trip Completed  136.0         6
                140.0         6
                143.0         6
                147.0         6
                154.0         6
                165.0         6
                192.0         6
                209.0         6
                229.0         6
                240.0         6
                260.0         6
                267.0         6
                271.0         6
                282.0         6
                288.0         6
                293.0         6
                295.0         6
                93.0          5
                103.0         5
                104.0         5
                135.0         5
                169.0         5
                187.0         5
                189.0         5
                216.0         5
                217.0         5
                265.0         5
                292.0         5
                300.0         5
                117.0         4
Name: Driver id, Length: 595, dtype: int64

In [28]:
df[(df['Pickup point']=='Airport')&(df['Status']=='Cancelled')].count()

Request id           198
Pickup point         198
Driver id            198
Status               198
Request timestamp    198
Drop timestamp         0
dtype: int64

In [25]:
df[(df['Pickup point']=='City')&(df['Status']=='Cancelled')].count()

Request id           1066
Pickup point         1066
Driver id            1066
Status               1066
Request timestamp    1066
Drop timestamp          0
dtype: int64

In [4]:
print(df['Request id'].value_counts())

2047    1
3379    1
3315    1
5368    1
1274    1
3323    1
5376    1
1282    1
3331    1
5384    1
1290    1
3339    1
5392    1
1298    1
3347    1
5400    1
1306    1
3355    1
5408    1
1314    1
3363    1
5416    1
1322    1
3371    1
5424    1
1266    1
5360    1
3307    1
1226    1
5296    1
       ..
629     1
4727    1
2684    1
589     1
4679    1
4631    1
6702    1
2588    1
541     1
6686    1
4639    1
2596    1
549     1
6694    1
4647    1
2604    1
557     1
4655    1
6726    1
2612    1
565     1
6710    1
4663    1
2620    1
573     1
6718    1
4671    1
2628    1
581     1
2049    1
Name: Request id, Length: 6745, dtype: int64

In [8]:
df[['Request id','Status']]

      Request id             Status
0              1     Trip Completed
1              2  No Cars Available
2              3     Trip Completed
3              4  No Cars Available
4              5     Trip Completed
5              6  No Cars Available
6              7  No Cars Available
7              8  No Cars Available
8              9     Trip Completed
9             10     Trip Completed
10            11     Trip Completed
11            12  No Cars Available
12            13     Trip Completed
13            14  No Cars Available
14            15  No Cars Available
15            16  No Cars Available
16            17  No Cars Available
17          5202          Cancelled
18            19  No Cars Available
19            20  No Cars Available
20            21     Trip Completed
21            22  No Cars Available
22            23  No Cars Available
23            24  No Cars Available
24            25  No Cars Available
25            26  No Cars Available
26            27  No Cars Available
27            28  No Cars Available
28            29  No Cars Available
29            30     Trip Completed
...          ...                ...
6715        6737  No Cars Available
6716        6738     Trip Completed
6717        6739  No Cars Available
6718        6740  No Cars Available
6719        6741     Trip Completed
6720        6742     Trip Completed
6721        6743     Trip Completed
6722        6744  No Cars Available
6723        6745  No Cars Available
6724        6746  No Cars Available
6725        6747     Trip Completed
6726        6748     Trip Completed
6727        6749     Trip Completed
6728        6750     Trip Completed
6729        6751  No Cars Available
6730        6752  No Cars Available
6731        6753  No Cars Available
6732        6754  No Cars Available
6733        6755     Trip Completed
6734        6756     Trip Completed
6735        6757     Trip Completed
6736        6758     Trip Completed
6737        4225          Cancelled
6738        6760     Trip Completed
6739        6761     Trip Completed
6740        6762     Trip Completed
6741        6763     Trip Completed
6742        6764     Trip Completed
6743        6765  No Cars Available
6744        6766     Trip Completed

[6745 rows x 2 columns]

In [9]:
df[(df['Request id'])&(df['Status']=='Cancelled')].count()

Request id           657
Pickup point         657
Driver id            657
Status               657
Request timestamp    657
Drop timestamp         0
dtype: int64

In [10]:
k=df.groupby('Status')['Request id'].value_counts()
k

Status          Request id
Cancelled       18            1
                76            1
                77            1
                80            1
                85            1
                86            1
                92            1
                96            1
                98            1
                99            1
                105           1
                107           1
                108           1
                109           1
                111           1
                113           1
                115           1
                119           1
                120           1
                122           1
                126           1
                127           1
                129           1
                130           1
                132           1
                133           1
                140           1
                141           1
                144           1
                147           1
                             ..
Trip Completed  6719          1
                6721          1
                6723          1
                6724          1
                6726          1
                6727          1
                6729          1
                6731          1
                6733          1
                6734          1
                6735          1
                6736          1
                6738          1
                6741          1
                6742          1
                6743          1
                6747          1
                6748          1
                6749          1
                6750          1
                6755          1
                6756          1
                6757          1
                6758          1
                6760          1
                6761          1
                6762          1
                6763          1
                6764          1
                6766          1
Name: Request id, Length: 6745, dtype: int64